{% extends '@ezdesign/pagelayout.html.twig' %}
{% block title %}{{ ez_field_value(content,'page_title') }}{% endblock %}
{% block styles %}
    <style>.contact{display:none !important}</style>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ld7fOoUAAAAAAHNrNWVHlCZePqe3OWy0z7mX4FZ"></script>
{% endblock %}
{% block page_top %}
        <div class="cs-container_c d-flex justify-content-start align-items-center mt-5"><h2 class="mt-5 mt-lg-0 mr-auto fs-18 text-white m-0"><b class="ml-0 ml-lg-4 pl-3 mr-2 yellow">AK</b><i class="rail-light">SOFTWARE</i></h2></div>
{% endblock %}
{% block content %}
    <main class="py-0 py-lg-5 my-lg-5">
        <div class="cs-container_l my-lg-5">
            <div class="px-4 px-lg-0 pt-0 mb-5 bgc-stripped">
                <div class="d-flex flex-column flex-lg-row justify-content-start align-items-start align-items-lg-center px-2 px-lg-4 py-1">
                    <div class="main-title mr-4 order-1 order-lg-0 mb-3 mb-lg-0">
                        <h1 class="cfs-05 text-dark">{{ ez_field_value(content,'page_title') }}</h1>
                    </div>
                    <div class="breadcrumb bg-transparent p-0 mt-3 cfs-00">
                        <a class="breadcrumb-item d-a" href="index.html">{{ 'Home'|trans }}</a>
                        <span class="breadcrumb-item gray-s--h">{{ ez_field_value(content,'page_title') }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cs-container_l py-1 px-4 px-lg-0 mb-5">
            <div class="d-flex flex-column align-items-start">
                <div class="cnt-container d-flex flex-column flex-lg-row contact-icon justify-content-between mt-3 mb-5">
                    <a href="{{ ez_field_value(content,'address_link') }}" 
                        class="d-flex flex-lg-column justify-content-lg-center align-items-center" target="_blank">
                        <i class="{{ ez_field_value(content,'address_icon') }}"></i><span>{{ ez_field_value(content,'address') }}</span>
                    </a>
                    <a href="tel:{{ ez_field_value(content,'phone') }}" class="d-flex flex-lg-column justify-content-lg-center align-items-center my-4 my-lg-0">
                        <i class="{{ ez_field_value(content,'phone_icon') }}"></i><span>{{ ez_field_value(content,'phone') }}</span>
                    </a>
                    <a href="mailto:{{ ez_field_value(content,'email') }}" class="d-flex flex-lg-column justify-content-lg-center align-items-center">
                        <i class="{{ ez_field_value(content,'email_icon') }}"></i><span>{{ ez_field_value(content,'email') }}</span>
                    </a>
                </div>
                <div class="divider border-bottom my-3 w-100 my-4">
                    {# <div class="divide-inside mx-auto mt-4"></div> #}
                </div>
                <div class="d-flex align-items-stretch w-100 contact-area mt-5">
                    <iframe src="{{ ez_field_value(content,'map') }}" 
                    frameborder="0" class="border-0 order-1 px-0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    <form action="#" method="POST" class="px-0 mr-auto ml-0">
                        <div class="d-flex flex-column flex-lg-row w-100">
                            <div class="d-flex flex-column justify-content-between align-items-start inputs col col-lg-6 pl-0 pr-0 pr-lg-5">
                                <h2 class="contact-title b m-0">WRITE US</h2>
                                <i class="border-bottom w-100 mb-auto"></i>
                                <label class="pure-material-textfield-outlined w-100 mt-auto mb-3">
                                    <input type="text" id="name" name="name" placeholder=" ">
                                    <span>Name</span>
                                </label>
                                <label class="pure-material-textfield-outlined w-100 mb-3">
                                    <input type="text" id="email" name="email" placeholder=" ">
                                    <span>Email</span>
                                </label>
                                <label class="pure-material-textfield-outlined w-100 mb-3">
                                    <input type="text" id="phone" name="phone" placeholder=" ">
                                    <span>Phone</span>
                                </label>
                                <label class="pure-material-textfield-outlined w-100">
                                    <input type="text" id="subject" name="subject" placeholder=" ">
                                    <span>Subject</span>
                                </label>
                            </div>
                            <div class="d-flex flex-column col col-lg-6 txt-pos px-0 py-4 py-lg-0">
                                <label class="pure-material-textfield-outlined w-100 m-0">
                                    <textarea id="comment" class="rounded-0" name="comment" rows="15" placeholder=" "></textarea>
                                    <span>Your Message</span>
                                </label>
                                <button class="btn b contact-btn rounded-0 py-3">SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script>
        // secret key :  6Ld7fOoUAAAAAOH-TPjaHQO5pLYh1W2gVMMDGfxN
        // The Response :
        {# {
            "success": true|false,      // whether this request was a valid reCAPTCHA token for your site
            "score": number             // the score for this request (0.0 - 1.0)
            "action": string            // the action name for this request (important to verify)
            "challenge_ts": timestamp,  // timestamp of the challenge load (ISO format yyyy-MM-dd'T'HH:mm:ssZZ)
            "hostname": string,         // the hostname of the site where the reCAPTCHA was solved
            "error-codes": [...]        // optional
        } #}
        grecaptcha.ready(function() {
            grecaptcha.execute('6Ld7fOoUAAAAAAHNrNWVHlCZePqe3OWy0z7mX4FZ_', {action: 'homepage'}).then(function(token) {
            ...
            });
        });
    </script>
{% endblock %}
