{% extends '@ezdesign/pagelayout.html.twig' %}
{% block title %}{{ 'Projects'|trans }}{% endblock %}
{% block page_top %}
        <div class="cs-container_c d-flex justify-content-start align-items-center mt-5"><h2 class="mt-5 mt-lg-0 mr-auto fs-18 text-white m-0"><b class="ml-0 ml-lg-4 pl-3 mr-2 yellow">AK</b><i class="rail-light">SOFTWARE</i></h2></div>
{% endblock %}
{% block content %}
    <main class="py-0 py-lg-5 my-lg-5">
        <div class="cs-container_l text-center my-lg-5">
            <div class="px-4 px-lg-0 pt-0 mb-5 bgc-stripped">
                <div class="d-flex flex-column flex-lg-row justify-content-start align-items-start align-items-lg-center px-2 px-lg-4 py-1">
                    <div class="main-title mr-4 order-1 order-lg-0 mb-3 mb-lg-0">
                        <h1 class="cfs-05 text-dark">{{ ez_field_value(content,'page_title') }}</h1>
                    </div>
                    <div class="breadcrumb bg-transparent p-0 mt-3 cfs-00">
                        <a class="breadcrumb-item d-a" href="index.html">{{ 'Home'|trans }}</a>
                        <span class="breadcrumb-item gray-s--h">{{ ez_field_value(content,'page_title') }}</span>
                    </div>
                </div>
            </div>
            <div class="portfolio-menu pt-0 pt-md-5">
                <ul class="d-flex flex-column flex-md-row list-unstyled justify-content-center align-items-start">
                    <li class="w-100">
                        <ul class="d-flex justify-content-between">
                            <li class="w-100 active d-flex flex-row flex-md-column justify-content-start align-items-center py-3 mx-2" data-filter="*" data-aos="fade-up"><i class="fa fa-th fs-22 mr-3 mr-md-0 mb-0 mb-md-3"></i><h2 class="m-0 p-0 cfs-03">{{ 'All Projects'|trans }}</h2></li>
                            <li class="w-100 d-flex flex-row flex-md-column justify-content-start align-items-center py-3 mx-2" data-filter=".web" data-aos="fade-down"><i class="fa fa-desktop fs-22 mr-3 mr-md-0 mb-0 mb-md-3"></i><h2 class="m-0 p-0 cfs-03">{{ 'Website'|trans }}</h2></li>
                        </ul>
                    </li>
                    <li class="w-100">
                        <ul class="d-flex justify-content-between">
                            <li class="w-100 d-flex flex-row flex-md-column justify-content-start align-items-center py-3 mx-2" data-filter=".android" data-aos="fade-up"><i class="fa fa-android fs-22 mr-3 mr-md-0 mb-0 mb-md-3"></i><h2 class="m-0 p-0 cfs-03">{{ 'Android'|trans }}</h2></li>
                            <li class="w-100 d-flex flex-row flex-md-column justify-content-start align-items-center py-3 mx-2" data-filter=".ios" data-aos="fade-down"><i class="fa fa-apple fs-22 mr-3 mr-md-0 mb-0 mb-md-3"></i><h2 class="m-0 p-0 cfs-03">{{ 'IOS'|trans }}</h2></li>
                        </ul>
                    </li>
                    <li class="w-100">
                        <ul class="d-flex justify-content-between">
                            <li class="w-100 d-flex flex-row flex-md-column justify-content-start align-items-center py-3 mx-2" data-filter=".aws" data-aos="fade-up"><i class="fa fa-amazon fs-22 mr-3 mr-md-0 mb-0 mb-md-3"></i><h2 class="m-0 p-0 cfs-03">{{ 'AWS'|trans }}</h2></li>
                            <li class="w-100 d-flex flex-row flex-md-column justify-content-start align-items-center py-3 mx-2" data-filter=".cloud" data-aos="fade-up"><i class="fa fa-cloud fs-22 mr-3 mr-md-0 mb-0 mb-md-3"></i><h2 class="m-0 p-0 cfs-03">{{ 'Cloud'|trans }}</h2></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="divider border-bottom my-5">
                <div class="divide-inside mx-auto mt-4"></div>
            </div>
            <div class="portfolio-item" data-aos="zoom-in">
                <div class="item web">
                    <a href="fullprojects.html" title="#" class="card bg-dark text-white border-0">
                        <img src="{{ asset("ak/img/pic1.png", "ezdesign") }}" class="card-img" alt="...">
                        <div class="card-img-overlay bgc_black--06 d-flex flex-column justify-content-between align-items-start p-5">
                            <h5 class="card-title b">SUBWAY</h5>
                            <p class="card-text text-left d-flex align-items-center"><img src="{{ asset("ak/img/subway.png", "ezdesign") }}" alt="printer-for-you" class="pr-img w-45 mr-3"> We offer used and high-quality branded devices that are in a condition that is close to that of a new device.</p>
                        </div>
                    </a>
                </div>
                <div class="item web">
                    <a href="fullprojects.html" title="#" class="card bg-dark text-white border-0">
                        <img src="{{ asset("ak/img/pic4.png", "ezdesign") }}" class="card-img" alt="...">
                        <div class="card-img-overlay bgc_black--06 d-flex flex-column justify-content-between align-items-start p-5">
                            <h5 class="card-title b">MR-TIMESHEET</h5>
                            <p class="card-text text-left d-flex align-items-center"><img src="{{ asset("ak/img/mr-timesheet.png", "ezdesign") }}" alt="printer-for-you" class="pr-img w-45 mr-3"> We offer used and high-quality branded devices that are in a condition that is close.</p>
                        </div>
                    </a>
                </div>
                <div class="item ios">
                    <a href="fullprojects.html" title="#" class="card bg-dark text-white border-0">
                        <img src="{{ asset("ak/img/pic3.png", "ezdesign") }}" class="card-img" alt="...">
                        <div class="card-img-overlay bgc_black--06 d-flex flex-column justify-content-between align-items-start p-5">
                            <h5 class="card-title b">PRINTER FOR YOU</h5>
                            <p class="card-text text-left d-flex align-items-center"><img src="{{ asset("ak/img/printerforyou.png", "ezdesign") }}" alt="printer-for-you" class="pr-img w-45 mr-3"> We offer used and high-quality branded devices that are in a condition that is close.</p>
                        </div>
                    </a>
                </div>
                <div class="item android">
                    <a href="fullprojects.html" title="#" class="card bg-dark text-white border-0">
                        <img src="{{ asset("ak/img/pic4.png", "ezdesign") }}" class="card-img" alt="...">
                        <div class="card-img-overlay bgc_black--06 d-flex flex-column justify-content-between align-items-start p-5">
                            <h5 class="card-title b">MR-TIMESHEET</h5>
                            <p class="card-text text-left d-flex align-items-center"><img src="{{ asset("ak/img/mr-timesheet.png", "ezdesign") }}" alt="printer-for-you" class="pr-img w-45 mr-3"> We offer used and high-quality branded devices that are in a condition that is close.</p>
                        </div>
                    </a>
                </div>
                <div class="item android">
                    <a href="fullprojects.html" title="#" class="card bg-dark text-white border-0">
                        <img src="{{ asset("ak/img/pic3.png", "ezdesign") }}" class="card-img" alt="...">
                        <div class="card-img-overlay bgc_black--06 d-flex flex-column justify-content-between align-items-start p-5">
                            <h5 class="card-title b">PRINTER FOR YOU</h5>
                            <p class="card-text text-left d-flex align-items-center"><img src="{{ asset("ak/img/printerforyou.png", "ezdesign") }}" alt="printer-for-you" class="pr-img w-45 mr-3"> We offer used and high-quality branded devices that are in a condition that is close.</p>
                        </div>
                    </a>
                </div>
                <div class="item aws">
                    <a href="fullprojects.html" title="#" class="card bg-dark text-white border-0">
                        <img src="{{ asset("ak/img/pic1.png", "ezdesign") }}" class="card-img" alt="...">
                        <div class="card-img-overlay bgc_black--06 d-flex flex-column justify-content-between align-items-start p-5">
                            <h5 class="card-title b">SUBWAY</h5>
                            <p class="card-text text-left d-flex align-items-center"><img src="{{ asset("ak/img/subway.png", "ezdesign") }}" alt="printer-for-you" class="pr-img w-45 mr-3"> We offer used and high-quality branded devices that are in a condition that is close to that of a new device.</p>
                        </div>
                    </a>
                </div>
                <div class="item cloud">
                    <a href="fullprojects.html" title="#" class="card bg-dark text-white border-0">
                        <img src="{{ asset("ak/img/pic4.png", "ezdesign") }}" class="card-img" alt="...">
                        <div class="card-img-overlay bgc_black--06 d-flex flex-column justify-content-between align-items-start p-5">
                            <h5 class="card-title b">MR-TIMESHEET</h5>
                            <p class="card-text text-left d-flex align-items-center"><img src="{{ asset("ak/img/mr-timesheet.png", "ezdesign") }}" alt="printer-for-you" class="pr-img w-45 mr-3"> We offer used and high-quality branded devices that are in a condition that is close.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
