{% extends '@ezdesign/pagelayout.html.twig' %}
{% block title %}{{ ez_field_value(content,'project_title') }}{% endblock %}
{% block page_top %}
        <div class="cs-container_c d-flex justify-content-start align-items-center mt-5"><h2 class="mt-5 mt-lg-0 mr-auto fs-18 text-white m-0"><b class="ml-0 ml-lg-4 pl-3 mr-2 yellow">AK</b><i class="rail-light">SOFTWARE</i></h2></div>
{% endblock %}
{% block content %}
    <main class="py-0 py-lg-5 my-lg-5">
        <div class="cs-container_l my-lg-5">
            <div class="px-4 px-lg-0 pt-0 mb-5 bgc-stripped">
                <div class="d-flex flex-column flex-lg-row justify-content-start align-items-start align-items-lg-center px-2 px-lg-4 py-1">
                    <div class="main-title mr-4 order-1 order-lg-0 mb-3 mb-lg-0">
                        <h1 class="cfs-05 text-dark">{{ ez_field_value(content,'project_title') }}</h1>
                    </div>
                    <div class="breadcrumb bg-transparent p-0 mt-3 cfs-00">
                        <a class="breadcrumb-item d-a" href="index.html">{{ 'Home'|trans }}</a>
                        <a class="breadcrumb-item d-a" href="projects.html">{{ 'Projects'|trans }}</a>
                        <span class="breadcrumb-item gray-s--h">{{ ez_field_value(content,'project_title') }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cs-container_l py-1 px-4 px-lg-0">
            <div class="d-flex flex-column align-items-start">
                <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center w-100">
                    <img src="{{ ez_field_value(content,'project_icon').uri }}" class="wp-200 mt-0 mb-3" alt="">
                    <span class="cfs-01 my-2 mr-4 rail-regular ml-lg-auto"><i class="fa fa-inbox gray-s--l cfs-04 mr-3"></i>{{ ez_field_value(content,'category') }}</span>                
                    <div class="cfs-01 rail-regular"><i class="fa fa-external-link-square gray-s--l cfs-04 mr-3"></i><a href="#" title="#" class="c-a">{{ ez_field_value(content,'project_link') }}</a></div>                
                </div>
                <div class="divider border-bottom my-3 w-100">
                    <div class="divide-inside mx-auto mt-4"></div>
                </div>
                <p class="py-3 stext-justify cfs-02 gray-s--h rail-regular my-3" id="project_text">
                    {{ ez_field_value(content,'project_text') }}     
                </p>
                <div class="demo-gallery w-100 my-4">
                    <ul class="d-flex flex-wrap justify-content-center align-items-center border rounded p-4" id="lightgallery">
                        <li class="rest-pic" data-src="{{ ez_field_value(content,'image1').uri }}">
                            <a href="#">
                                <img class="img-fluid" src="{{ ez_field_value(content,'image1_preview').uri }}" />
                            </a>
                        </li>
                        <li class="rest-pic" data-src="{{ ez_field_value(content,'image2').uri }}">
                            <a href="#">
                                <img class="img-fluid" src="{{ ez_field_value(content,'image2_preview').uri }}" />
                            </a>
                        </li>
                        <li class="rest-pic" data-src="{{ ez_field_value(content,'image3').uri }}">
                            <a href="#" >
                                <img class="img-fluid" src="{{ ez_field_value(content,'image3_preview').uri }}" />
                         </a>
                        </li>
                        <li class="rest-pic" data-src="{{ ez_field_value(content,'image4').uri }}">
                            <a href="#" >
                                <img class="img-fluid" src="{{ ez_field_value(content,'image4_preview').uri }}" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
