<div class="bgc-light py-5 contact">
    <div class="col-12 col-lg-10 px-0 mx-auto">
        <div class="d-flex flex-column">
            <div class="d-flex flex-column flex-xl-row">
                <div class="col-12 col-xl-4 px-4 px-xl-5 d-flex flex-column mb-5 mb-xl-0">
                    <a href="https://www.google.com/maps/dir/52.5719955,13.4315543/Tiniusstra%C3%9Fe+9-11,+13089+Berlin,+Germany/@52.5719955,13.4271769,16z/data=!4m8!4m7!1m0
                    !1m5!1m1!1s0x47a85277ff20bbf7:0x723b8b52c132bcb1!2m2!1d13.4315543!2d52.5719956" 
                    class="contacts px-4 4 pt-3 pb-0 pb-xl-3 bgc-white" target="_blank">
                        <h2 class="text-white cfs-04"><i class="yellow border gray_border fa fa-map-marker mr-4"></i>{{ 'ADDRESS'|trans }}</h2>
                        <p class="pt-3 mt-3 border-top gray_border gray--l">Tiniusstr. 9-11, 13089 Berlin</p>
                    </a>
                </div>
                <div class="col-12 col-xl-4 px-4 px-xl-5 d-flex flex-column mb-5 mb-xl-0">
                    <a href="mailto:office@ak-software.com" class="contacts px-4 4 pt-3 pb-0 pb-xl-3 bgc-white">
                        <h2 class="text-white cfs-04"><i class="yellow border gray_border fa fa-envelope-o mr-4"></i>{{ 'EMAIL'|trans }}</h2>
                        <p class="pt-3 mt-3 border-top gray_border gray--l">office@ak-software.com</p>
                    </a>
                </div>
                <div class="col-12 col-xl-4 px-4 px-xl-5 d-flex flex-column">
                    <a href="tel:+4917676965445" class="contacts px-4 pt-3 pb-0 pb-xl-3 pb-0 pb- bgc-white">
                        <h2 class="text-white cfs-04"><i class="yellow border gray_border fa fa-phone mr-4"></i>{{ 'PHONE'|trans }}</h2>
                        <p class="pt-3 mt-3 border-top gray_border gray--l">0049 176 76965445</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bgc_black py-5">
    <div class="cs-container d-flex flex-column py-0 py-md-5">
        <div class="row align-items-center m-0">
            <div class="col-12 d-flex flex-column flex-xl-row">
                <div class="col-12 col-xl-4 mb-5 px-3 px-xl-5">
                    <div class="card text-left bg-transparent text-muted px-md-2">
                            <div class="d-flex justify-content-start align-items-center my-2"><h2 class="mr-auto fs-18 text-white m-0"><b class="mr-2 yellow">AK</b><i class="rail-light">SOFTWARE</i></h2></div>
                            <div class="card-body p-0">
                            <p class="card-text d-flex flex-column mb-4 pt-4">
                                We offer used and high-quality branded devices that are in a condition that is close to that of a new device.
                                Our goal is to open further shops in the federal territory in order to be personally addressable for you, to advise you and to offer you maintenance and repair services.                                             
                                <a href="#" title="#" class="mt-2 w-100 o-color fz-3">Read More ...</a>
                            </p>
                            <div class="d-flex flex-column w-100 border-top gray_border_alt mb-5 mb-lg-0">
                                <small class="float-left my-2">{{ 'Write your email and get the updates'|trans }}</small>
                                <form class="d-flex">
                                    <input type="text" class="px-3 py-2 bgk_darkgrey gray_border w-75 join_input" name="join" placeholder="email address">
                                    <button class="py-2 px-2 bgk_darkgrey gray_border w-25 join_submit"><span class="fa fa-envelope-o yellow fz-4"></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4 px-3 px-xl-5">
                    <i class="text-white cfs-04 pb-3 mb-3 border-bottom gray_border_alt w-100 float-left">{{ 'LINKS'|trans }}</i>
                    <ul class="list-unstyled mb-4">
                        <li class="bg-transparent text-muted py-1"><a href="#" title="#" class="gray--l cfs-02">{{ 'About Us'|trans }}</a></li>
                        <li class="bg-transparent text-muted py-1"><a href="#" title="#" class="gray--l cfs-02">{{ 'Contact Us'|trans }}</a></li>
                        <li class="bg-transparent text-muted py-1"><a href="#" title="#" class="gray--l cfs-02">{{ 'Imprint'|trans }}</a></li>
                    </ul>
                </div>
                <div class="col-12 col-xl-4 px-3 px-xl-5">
                    <i class="text-white cfs-04 pb-3 mb-3 border-bottom gray_border_alt w-100 float-left">{{ 'OUR SERVICES'|trans }}</i>
                    <ul class="list-unstyled">
                        <li class="bg-transparent text-muted py-1"><a href="#" title="#" class="gray--l cfs-02">{{ 'Cloud Services'|trans }}</a></li>
                        <li class="bg-transparent text-muted py-1"><a href="#" title="#" class="gray--l cfs-02">{{ 'Web Development'|trans }}</a></li>
                        <li class="bg-transparent text-muted py-1"><a href="#" title="#" class="gray--l cfs-02">{{ 'Mobile Development'|trans }}</a></li>
                        <li class="bg-transparent text-muted py-1"><a href="#" title="#" class="gray--l cfs-02">{{ 'System Administration'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center my-4 mb-3">
            <a class="icon-info fs-22 b-media mx-2" href="#"></a>
            <a class="icon-instagram fs-22 b-media mx-2" href="#"></a>
            <a class="icon-linkedin fs-22 b-media mx-2" href="#"></a>
        </div>
        <div class="border-top gray_border pt-4 mx-4 mx-md-0 fz-3 font-italic text-center"><span class="text-white">{{ 'Copyright'|trans }}</span><span class="yellow px-1">©</span><span class="gray--l">AK Software. {{ 'All Rights Reserved'|trans }}. </span></div>
    </div>
</footer>
{{ include("@ezdesign/layout/footer-scripts.html.twig") }}
